<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <strong>入力エラーがあります</strong> - <%= pluralize(object.errors.count, "項目") %>に問題があります。
    </div>
    <ul class="list-unstyled">
    <% object.errors.full_messages.each do |msg| %>
      <li class="text-danger"><i class="glyphicon glyphicon-remove"></i> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
